In [29]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib
import requests
from IPython.display import display, display_pretty, Javascript, HTML

In [30]:
# each page has a summary table that rolls up results at the state level
# get rid of it
def cond(x):
    if x:
        return x.startswith("table ec-table") and not "table ec-table ec-table-summary" in x
    else:
        return False

In [1]:
# list of state abbreviations
states = ['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']

# headers for csv export
data = [['state_abbr', 'county_name', 'party', 'votes_total']]

AttributeError: 'list' object has no attribute 'lower'

In [32]:
# loop through each state's web page http://townhall.com/election/2016/president/%s/county, where %s is the state abbr
for state in states:
    for year in years:
        url = 'https://townhall.com/election/{}/president/{}/county'
        res = requests.get(url .format(year, states))
        soup = BeautifulSoup(res.content, 'lxml')

        # loop through each <table> tag with .ec-table class
        tables = soup.findAll('table', attrs={'class':cond})

        for table in tables:
            if table.findParent("table") is None:
                table_body = table.find('tbody')

                rows = table_body.find_all('tr')
                for row in rows:
                    cols = row.find_all('td')
                    # first tbody tr has four td
                    if len(cols) == 4:
                        # strip text from each td
                        divs = cols[0].find_all('div')
                        county = divs[0].text.strip()
                        party = cols[1]['class'][0]
                        total_votes = int(cols[2].text.strip().replace(',','').replace('-','0'))
                    # all other tbody tr have three td
                    else:
                        party = cols[1]['class'][0]
                        total_votes = int(cols[1].text.strip().replace(',','').replace('-','0'))

                    #combine each row's results
                    rowData = [state,county,party,total_votes]
                    data.append(rowData)

In [33]:
townhall = pd.DataFrame(data) # throw results in dataframe
new_header = townhall.iloc[0] #grab the first row for the header
townhall = townhall[1:] #take the data less the header row
townhall.columns = new_header #set the header row as the df header
townhall['votes_total'] = townhall['votes_total'].astype('float64')
print(townhall.shape[0])
townhall.head()

10251

0 state_abbr county_name party  votes_total
1         AL     Autauga   REP      15212.0
2         AL     Autauga   DEM       4774.0
3         AL     Autauga   GRE         74.0
4         AL     Baldwin   REP      52910.0
5         AL     Baldwin   DEM      15579.0

In [34]:
# view by state
townhall[(townhall['state_abbr'] == 'AK')]

0   state_abbr county_name party  votes_total
202         AK     Autauga   REP      15212.0
203         AK     Autauga   DEM       4774.0
204         AK     Autauga   GRE         74.0
205         AK     Baldwin   REP      52910.0
206         AK     Baldwin   DEM      15579.0
207         AK     Baldwin   GRE        371.0
208         AK     Barbour   REP       5893.0
209         AK     Barbour   DEM       4826.0
210         AK     Barbour   GRE         26.0
211         AK        Bibb   REP       5471.0
212         AK        Bibb   DEM       2089.0
213         AK        Bibb   GRE         12.0
214         AK      Blount   REP      17364.0
215         AK      Blount   DEM       3932.0
216         AK      Blount   GRE         92.0
217         AK     Bullock   DEM       3210.0
218         AK     Bullock   REP       1494.0
219         AK     Bullock   GRE          3.0
220         AK      Butler   REP       4978.0
221         AK      Butler   DEM       3409.0
222         AK      Butler   GRE         13.0
223         AK     Calhoun   REP      29806.0
224         AK     Calhoun   DEM      15076.0
225         AK     Calhoun   GRE        182.0
226         AK    Chambers   REP       7618.0
227         AK    Chambers   DEM       5346.0
228         AK    Chambers   GRE         42.0
229         AK    Cherokee   REP       5919.0
230         AK    Cherokee   DEM       3036.0
231         AK    Cherokee   GRE         43.0
..         ...         ...   ...          ...
373         AK      Shelby   REP      63326.0
374         AK      Shelby   DEM      14826.0
375         AK      Shelby   GRE        283.0
376         AK   St. Clair   REP      23468.0
377         AK   St. Clair   DEM       5449.0
378         AK   St. Clair   GRE         95.0
379         AK      Sumter   DEM       4527.0
380         AK      Sumter   REP       1880.0
381         AK      Sumter   GRE         10.0
382         AK   Talladega   REP      18326.0
383         AK   Talladega   DEM      11373.0
384         AK   Talladega   GRE         89.0
385         AK  Tallapoosa   REP      12378.0
386         AK  Tallapoosa   DEM       5449.0
387         AK  Tallapoosa   GRE         53.0
388         AK  Tuscaloosa   REP      42827.0
389         AK  Tuscaloosa   DEM      26420.0
390         AK  Tuscaloosa   GRE        263.0
391         AK      Walker   REP      19162.0
392         AK      Walker   DEM       9012.0
393         AK      Walker   GRE        108.0
394         AK  Washington   REP       5042.0
395         AK  Washington   DEM       3127.0
396         AK  Washington   GRE         28.0
397         AK      Wilcox   DEM       3238.0
398         AK      Wilcox   REP       1778.0
399         AK      Wilcox   GRE         19.0
400         AK     Winston   REP       8052.0
401         AK     Winston   DEM       2234.0
402         AK     Winston   GRE         29.0

[201 rows x 4 columns]

In [35]:
# view special cases
print(townhall[(townhall['state_abbr'] == 'NV') & (townhall['county_name'] == 'Carson City')])

Empty DataFrame
Columns: [state_abbr, county_name, party, votes_total]
Index: []

In [36]:
# fix townhall county name for Washington DC, Sainte Genevieve, MO, Oglala, SD
townhall.loc[townhall['state_abbr'] =='DC', 'county_name'] = 'District of Columbia'
townhall.loc[townhall['county_name'] == 'Sainte Genevieve', 'county_name'] = 'Ste. Genevieve County'
townhall.loc[townhall['county_name'] == 'Oglala Lakota', 'county_name'] = 'Oglala'
print(townhall[(townhall['county_name'] == 'District of Columbia') | (townhall['county_name'] == 'Ste. Genevieve County') | (townhall['county_name'] == 'Oglala')])

0    state_abbr           county_name party  votes_total
1408         DC  District of Columbia   REP      15212.0
1409         DC  District of Columbia   DEM       4774.0
1410         DC  District of Columbia   GRE         74.0
1411         DC  District of Columbia   REP      52910.0
1412         DC  District of Columbia   DEM      15579.0
1413         DC  District of Columbia   GRE        371.0
1414         DC  District of Columbia   REP       5893.0
1415         DC  District of Columbia   DEM       4826.0
1416         DC  District of Columbia   GRE         26.0
1417         DC  District of Columbia   REP       5471.0
1418         DC  District of Columbia   DEM       2089.0
1419         DC  District of Columbia   GRE         12.0
1420         DC  District of Columbia   REP      17364.0
1421         DC  District of Columbia   DEM       3932.0
1422         DC  District of Columbia   GRE         92.0
1423         DC  District of Columbia   DEM       3210.0
1424         DC  District of Columbia   REP       1494.0
1425         DC  District of Columbia   GRE          3.0
1426         DC  District of Columbia   REP       4978.0
1427         DC  District of Columbia   DEM       3409.0
1428         DC  District of Columbia   GRE         13.0
1429         DC  District of Columbia   REP      29806.0
1430         DC  District of Columbia   DEM      15076.0
1431         DC  District of Columbia   GRE        182.0
1432         DC  District of Columbia   REP       7618.0
1433         DC  District of Columbia   DEM       5346.0
1434         DC  District of Columbia   GRE         42.0
1435         DC  District of Columbia   REP       5919.0
1436         DC  District of Columbia   DEM       3036.0
1437         DC  District of Columbia   GRE         43.0
...         ...                   ...   ...          ...
1579         DC  District of Columbia   REP      63326.0
1580         DC  District of Columbia   DEM      14826.0
1581         DC  District of Columbia   GRE        283.0
1582         DC  District of Columbia   REP      23468.0
1583         DC  District of Columbia   DEM       5449.0
1584         DC  District of Columbia   GRE         95.0
1585         DC  District of Columbia   DEM       4527.0
1586         DC  District of Columbia   REP       1880.0
1587         DC  District of Columbia   GRE         10.0
1588         DC  District of Columbia   REP      18326.0
1589         DC  District of Columbia   DEM      11373.0
1590         DC  District of Columbia   GRE         89.0
1591         DC  District of Columbia   REP      12378.0
1592         DC  District of Columbia   DEM       5449.0
1593         DC  District of Columbia   GRE         53.0
1594         DC  District of Columbia   REP      42827.0
1595         DC  District of Columbia   DEM      26420.0
1596         DC  District of Columbia   GRE        263.0
1597         DC  District of Columbia   REP      19162.0
1598         DC  District of Columbia   DEM       9012.0
1599         DC  District of Columbia   GRE        108.0
1600         DC  District of Columbia   REP       5042.0
1601         DC  District of Columbia   DEM       3127.0
1602         DC  District of Columbia   GRE         28.0
1603         DC  District of Columbia   DEM       3238.0
1604         DC  District of Columbia   REP       1778.0
1605         DC  District of Columbia   GRE         19.0
1606         DC  District of Columbia   REP       8052.0
1607         DC  District of Columbia   DEM       2234.0
1608         DC  District of Columbia   GRE         29.0

[201 rows x 4 columns]

In [37]:
# change 'Co.' to 'County' in county_name to match census county name
townhall['county_name'] = townhall['county_name'].apply(lambda x: x.replace('Co.','County').strip())
print(townhall[(townhall['state_abbr'] == 'NV') & (townhall['county_name'] == 'Carson City')])

Empty DataFrame
Columns: [state_abbr, county_name, party, votes_total]
Index: []

In [38]:
# combine state and county names
townhall['combined'] = townhall['state_abbr'] + townhall['county_name'].apply(lambda x: x.replace(' ','').lower())
print(townhall[(townhall['state_abbr'] == 'NV') & (townhall['county_name'] == 'Carson City')])

Empty DataFrame
Columns: [state_abbr, county_name, party, votes_total, combined]
Index: []

In [59]:
townhall.to_csv('./townhall.csv')